    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        height: 100%;
        background: linear-gradient(lightgreen, gray);
        background-attachment: fixed;
        justify-self: center;
        align-content: center;
        margin-top: 8em;
    }
            .page{
            position: fixed;
            flex-direction: column;
            position: relative;
            display: none;
            text-align: center;
            align-content: center;
            padding: 20px;
            max-width: 700px;
            max-height: 700px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
            position: relative;
            z-index: 2;
            transition: left 0.2s ease-in-out;
        }
        .page.active{
            display: block;
        }
        img{
            width: 140px;
            margin: 1.2em;
        }
        .button{
            border-radius: 10px;
            color: blue;
            padding: 1px;
            background: yellow;
        }
        audio{
            width: 120px;
            margin-left: 3em;
        }